# Docker Compose file for Vapor
#
# IMPORTANT: This file is not intended to suggest 
#   best practices for a production deploy!
#
# Install Docker on your system to run and test
# your Vapor app in a production-like environment.
#
# Learn more: https://docs.docker.com/compose/reference/
#
#   Build images: docker-compose build
#      Start app: docker-compose up {{name}}{{#fluent}}
# Start database: docker-compose up db
# Run migrations: docker-compose up migrate{{/fluent}}
#       Stop all: docker-compose down{{#fluent}} (add -v to wipe db){{/fluent}}
#     Debug logs: export LOG_LEVEL=debug
#
version: '3.7'{{#fluent}}

volumes:
  db_data:{{/fluent}}

x-shared_environment: &shared_environment
  LOG_LEVEL: ${LOG_LEVEL:-info}
  DATABASE_HOST: ${DATABASE_HOST:-db}
  DATABASE_NAME: ${DATABASE_NAME:-vapor_database}
  DATABASE_USERNAME: ${DATABASE_USERNAME:-vapor_username}
  DATABASE_PASSWORD: ${DATABASE_PASSWORD:-vapor_password}

services:
  {{name}}:
    image: {{name}}:latest
    build:
      context: .
    environment:
      <<: *shared_environment{{#fluent}}
    depends_on:
      - db{{/fluent}}
    ports:
      - '8080:80'
    command: ["serve", "--env", "production", "--hostname", "0.0.0.0", "--port", "80", "--log", $LOG_LEVEL]{{#fluent}}
  migrate:
    image: {{name}}:latest
    build:
      context: .
    environment:
      <<: *shared_environment
    depends_on:
      - db
    command: ["migrate", "--yes", "--log", $LOG_LEVEL]  
  revert:
    image: {{name}}:latest
    build:
      context: .
    environment:
      <<: *shared_environment
    depends_on:
      - db
    command: ["migrate", "--revert", "--yes", "--log", $LOG_LEVEL]{{/fluent}}{{#fluent.db.is_postgres}}
  db:
    image: postgres:12.1-alpine
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: ${DATABASE_USERNAME:-vapor_username}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-vapor_password}
      POSTGRES_DB: ${DATABASE_NAME:-vapor_database}
    ports:
      - '5432:5432'{{/fluent.db.is_postgres}}{{#fluent.db.is_mysql}}
  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_USER: ${DATABASE_USERNAME:-vapor_username}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD:-vapor_password}
      MYSQL_DATABASE: ${DATABASE_NAME:-vapor_database}
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    ports:
      - '3306:3306'{{/fluent.db.is_mysql}}
