name: test 

on: [pull_request]

# Build the toolbox
# Run vapor new for all options
# Build the docker container

jobs:
  test-new:
    strategy:
      fail-fast: false
      matrix:
        fluentflags:
          - --no-fluent
          - --fluent.db mysql
          - --fluent.db postgres
          - --fluent.db sqlite
          - --fluent.db mongo
        leafflags:
          - --leaf
          - --no-leaf
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}

    steps:
          
      - name: Extract source of pull request 
        run:  |
          echo "##[set-output name=branch;]$(echo ${{ github.head_ref }})"
          echo "##[set-output name=fork;]$(echo ${{ github.server_url }}/${{ github.repository }})"
        id: extract_source
      - name: Checkout the toolbox
        uses: actions/checkout@v3.0.0
        with:
          repository: vapor/toolbox

      - name: Build the template from fork and  test it
        if: ${{ !contains(steps.extract_source.outputs.fork, 'vapor/template') }}
        run: |
          sudo swift run \
            vapor new template-test \
              --template ${{ steps.extract_source.outputs.fork }} \
              --no-commit \
              ${{ matrix.fluentflags }} ${{ matrix.leafflags }}
          sudo chown -R runner /template-test
          cd /template-test
          swift test
          docker-compose build

      - name: Build the template from branch and test it
        if: ${{ contains(steps.extract_source.outputs.fork, 'vapor/template') }}
        run: |
          sudo swift run \
            vapor new template-test \
              --branch ${{ steps.extract_source.outputs.branch }} \
              --no-commit -o /template-test \
              ${{ matrix.fluentflags }} ${{ matrix.leafflags }}
          sudo chown -R runner /template-test
          cd /template-test
          swift test
          docker-compose build

      



